
/* scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #2B2A29;
}

::-webkit-scrollbar-thumb:hover {
  background: #2B2A29;
}

.container-navbar{
  width:100%;
}

.my-btn {
  padding: 0.3rem 1rem;
  width: 18rem;
  border: 2px solid #2B2A29;
  border-radius: 100rem;
  background-color: white;
  color: #2B2A29;
  font-size: 1.3rem;
}

.submitButton{
  text-align: left;
}

.backButton{
  text-align: right;
}

.my-btn:hover {
  padding: 0.3rem 1rem;
  width: 18rem;
  border: 2px solid #2B2A29;
  border-radius: 100rem;
  background-color: #2B2A29;
  color: white;
}

#choose-file{
  border: 2px solid #2B2A29;
  border-radius: 100rem;
  background-color: white;
  color: gray;
  width:18rem;
}

#text-area{
  border: 2px solid #2B2A29;
  border-radius: 0rem;
  background-color: white;
  width:25rem;
}

.random-table{
  border:none;
  background: none;
  text-decoration:underline;
  font-size:0.9rem;
}

.containers-margin{
  margin: 10%;
  border: 2px solid #2B2A29;

}

.draggable {
  padding: 0.6rem 1rem;
  max-width: 14rem;
  border: 2px solid #2B2A29;
  border-radius: 100rem;
  text-align: left;
  background-color: #2B2A29;
  color: white;
  cursor: pointer;
  margin:1rem;
}

.box-draggable{
  border: 2px solid #2B2A29;
  overflow: auto;
  height: 25rem;
}

.height-window {
  height:90vh;
}

.droppable {
  min-height:3rem;
  min-width: 12rem;
  max-width: 16rem;
  border: 2px solid #2B2A29;
  text-align: center;
  background-color: white;
  color: #2B2A29;
  cursor: pointer;
}

.padding-bottom{
  padding-bottom: 2rem;
  margin-bottom: 1.5rem;
}

.box-droppable{
  height: 25rem;
  border: 2px solid #2B2A29;
  overflow: auto;
}

.no-margin{
  margin: 0px;
}

.modifiers {
  border: 2px solid #2B2A29;
  min-width: 20rem;
  font-size: 1rem;
}


.custom-range.form-control {
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: 0.2rem;
    background-color: transparent;
    -webkit-appearance: none;
    border: none;
    transition: none;
}


.custom-range.form-control:focus {
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: 0.2rem;
    background-color: transparent;
    -webkit-appearance: none;
    border: none;
    transition: none;
    box-shadow:none;
}


.custom-range.form-control::-webkit-slider-thumb {
  -webkit-appearance: none;
  outline: none;
  box-shadow: none;
  background-color: #2B2A29;
  width: 1rem;
  height: 1rem;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

.custom-range.form-control::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  outline: none;
  box-shadow: none;
  background-color: white;
  border: 2px solid #2B2A29;
  border-radius: 0;
  cursor: pointer;
}

.custom-number.form-control{
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: 0.5rem;
  background-color: transparent;
  -webkit-appearance: none;
  border: none;
  transition: none;
  border: 2px solid #2B2A29;
  border-radius: 0;
}

.custom-number.form-control:focus{
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: 0.2rem;
  background-color: transparent;
  -webkit-appearance: none;
  border: none;
  transition: none;
  border: 2px solid #2B2A29;
  border-radius: 0;
  box-shadow:none;
}


input[type="radio"] {
  -webkit-appearance: none;
  outline: none;
  box-shadow: none;
  background-color: white;
  width: 1.3rem;
  height: 1.3rem;
  border: 2px solid #2B2A29;
  border-radius: 0;
  cursor: pointer;
  border-color: #2B2A29;
}

input[type="radio"]:checked {
  -webkit-appearance: none;
  outline: none;
  box-shadow: none;
  background-color: #2B2A29;
  width: 1.3rem;
  height: 1.3rem;
  border: 2px solid #2B2A29;
  border-radius: 0;
  cursor: pointer;
  border-color: #2B2A29;
}


/* For Firefox */
input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  outline: none;
  box-shadow: none;
  background-color: #2B2A29;
  width: 1rem;
  height: 1rem;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

.custom-color.form-control-color{
  -webkit-appearance: none;
  outline: none;
  box-shadow: none;
  background-color: none;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  border: 2px solid #2B2A29;
  border-radius: 0;
  cursor: pointer;
}

.custom-color.form-control-color:focus{
  -webkit-appearance: none;
  outline: none;
  box-shadow: none;
  background-color: #2B2A29;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  border: none;
  border-radius:0;
  cursor: pointer;
}

.rule{
  opacity: 0.8;
  border-top: 2px solid #2B2A29;
}
